        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #333;
            color: #fff;
            display: flex;
            height: 100vh;
            overflow: hidden;
        }
        .video-container {
            flex: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000;
            position: relative;
        }
        #video-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        video {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            aspect-ratio: 16 / 9;
        }
        .channel-list {
            flex: 1;
            background-color: #444;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
        }
        .channel-list h2 {
            padding: 10px;
            margin: 0;
            background-color: #555;
            text-align: center;
        }
        .channel-list p {
            padding: 8px;
            margin: 0;
            background-color: #555;
            text-align: center;
        }
        .search-container {
            padding: 10px;
            background-color: #555;
            text-align: center;
        }
        #searchInput {
            width: 90%;
            padding: 8px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
        }
        .channel-list ul {
            list-style: none;
            padding: 0;
            margin: 0;
            flex: 1;
        }
        .channel-list li {
            padding: 15px;
            border-bottom: 1px solid #555;
            cursor: pointer;
        }
        .channel-list li:hover, .channel-list li.active {
            background-color: #666;
        }
        .shaka-controls-container {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        .menu-btn {
            position: fixed;
            top: 15px;
            left: 15px;
            width: 40px;
            height: 40px;
            background: #444;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            border-radius: 10%;
            cursor: pointer;
            z-index: 100;
        }
        .menu-box {
            position: fixed;
            top: 65px;
            left: 15px;
            width: 180px;
            height: 180px;
            background: #444;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, transform 0.3s ease;
            transform: scale(0.8);
            z-index: 99;
        }
        .menu-box.show {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
        .menu-box a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            margin: 8px 0;
            transition: color 0.2s;
        }
        .menu-box a:hover {
            color: #FAF9F6;
        }
